/*....header section title...*/
.header-title{
  display: flex;
  margin: 2.5rem; 
}

.header-anchore{
    margin-left: 50rem;
    margin-top: 3rem;
}
.anchor-item-1{
    color: black;
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}
#anchor-1{
    color: #8987A1; 
}
.card{
    height: 1.3rem;
    width: 1.5rem;
    color: aliceblue;
    margin: 0.1rem;
}

/******header section title end ***/


























/****phone ba small device****/

@media screen and (max-width: 576px){
  .header-title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .header-anchore{
    
}
}