/***header-title-start-**/
.all-item{
    max-width: 1600px;
}
.header {
     margin: 10px;  
    display: grid ;
    grid-template-columns: repeat(2, 1fr);
}
.images-1{
    margin-left: 140px;
}
nav a{
    text-decoration: none;
    font-size: 20px;    
   margin: 40px;
    color: black;
   
}
.images-2{
    height: 20px;
    width: 20px;   
}
.navbar-anchor{
    margin-top: 40px;
    margin-right: 140px;   
}
.header-anchor{
    color: #8987A1;
}
/******..........header-title-end............*******/

/****main 2nd stating item***/
.header-second-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
}
.h1{
    font-size: 65px;
    width:517px ;
    height: 89px; ;
}
.main-color-1{
    color: #E95A08;
}
.paragraph{
    font-size:22px ;
    width: 570px; ;
    height:108px ;
    color: #6a6565;
}
.main-title{
    margin: 20px auto;
}
/****main item-end***/

.header-item-3{
    text-align: center;
}
.main-text-2{
    width: 1140px;
    height: 68px;
    font-size: 50px;
}

.center{
    text-align: center;
    font-size: 22px;
    width: 888px;
    height: 54px;
    color: #6a6565;
}
.container{
    margin: 20px 60px;
}
/****..main item end***/
/***section item start*-*/
.section-title{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  text-align: center;
 gap: 30px 0px;
 
}
.images{
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
}
.button{
    background-color: #E95A08;
    color: antiquewhite;
    padding: 10px;
    border-radius: 3px;
}

/****section start -2---***/
.section-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
    
}

#image-4{
    margin-top: 40px;
    margin-left: 150px;
   height: 500px;
   width: 400px;
   border-radius: 10px;
   box-shadow: 20px 20px 10px;
   
}
.paragraph-3{
       color: #6a6565;
       font-size: 22px;
       height: 108px;
       width: 540px;
}
/*****section 2 end**/
/**div header stat...*/
.text-items{
    text-align: center;
  
}














/***............small device.................*/

/***header setion work**/
@media screen and (max-width:576px){
    .all-item{
      background-color: antiquewhite;
    }
    .header{   
        justify-content: center;
        margin: 20px;
    }
    .images-1{
    margin: 10px;
    height: 100px;;
    width: 100px;
}
.hidden-item{
 visibility: hidden;
 position: absolute;
margin-bottom: 140px;
}
.images-2{
    height: 40px;
    width: 40px;   
}
.header-navbar-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     font-size: 30px;
     margin-right: 50px;
     margin-bottom: 40px;
     position: absolute;

}
/*******header section work end**/
/*******....main part start....***/
   .header-second-item{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    margin: 40px;
    
    
   }
   .main-title{
    margin:30px 100px;
    border: 2px solid white;
     padding: 20px 50px ;
     align-items: center;
     justify-content: center;
     background-color: rgb(225, 230, 234);
   }
   
   .images-3{
    width: 80%;    
   }
   .header-item-3{
    text-align: center;
}
.main-text-2{
    width: 1140px;
    height: 68px;
    font-size: 50px;
}

.center{
    text-align: center;
    font-size: 22px;
    width: 888px;
    height: 54px;
    color: #6a6565;
}

/****section title***/
.section-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;    
}

/****section-2*****/
.section-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}





